<%= render 'shared/headder' %>

<div class="all-money">
<h1>総資産:<%= @balances.sum(:money_amount) %>円</h1>
</div>
<%= month_calendar events: @balances do |date, balances| %>
  <%= link_to date.day, edit_balance_path(date) %>

  <% amount = 0 %>
  
  <% if balances.present? %>
  <% balances.each do |balance| %>
      <% amount = amount + balance.money_amount %>
  <% end %>
  <%= amount %>
  <% end %>
  
<% end %>