<%= @visit_day %>
<%= form_with model: @balance, local: true do |f| %>
  <div class="balance-detail">費目     
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}) %>
  </div>
  <div>詳細
    <%= f.text_field :detail %>
  </div>
  <div>金額
    <%= f.text_field :money_amount%>
  </div>
    <%= f.submit "追加" %>
<% end %>

    