<%= @visit_day %>
<div class="balance">
  <% num = 0 %>
  <% if @balances.present? %>
  <% @balances.each do |balance| %>
  <ul>
    <li><%= num += 1 %>
    <li><%= balance.category.name %></li>
    <li><%= balance.detail %></li>
    <li><%= balance.money_amount %></li>
    <li><%= link_to "削除", balance_path("#{@id}-#{num}"), method: :delete %>
  </ul>
  <% end %>
  <% end %>
</div>

<%= form_with model: @balance, method: :post, id: "form", local: true do |f| %>
  <%= f.hidden_field :day, value: @id %>
  <div class="balance-detail">費目     
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}) %>
  </div>
  <div>詳細
    <%= f.text_field :detail %>
  </div>
  <div>金額
    <%= f.text_field :money_amount%>
  </div>
    <%= f.submit "追加", id: "submit" %>
<% end %>

    