<%= render 'shared/headder' %>
<div class="edit-content">
  <div class="visit-day">
  <%= @visit_day %>
  </div>
  
    <div class="balance">
      <ul class="list-name">
          <li class="list-num">No</li>
          <li class="in-or-out">収支</li>
          <li class="list-category">費目</li>
          <li class="list-detail">詳細</li>
          <li class="list-balance">金額</li>
      </ul>
      <div id="list">
      </div>
      <% num = 0 %>
      <% @balances.each do |balance| %>
      <ul class="list-content">
        <div class="lists-num">
          <li><%= num += 1 %>
        </div>
        <div class="lists-balance">
          <li><%= balance.balance %>
        </div>
        <div class="lists-category">
          <li><%= balance.category.name %></li>
        </div>
        <div class="lists-detail">
          <li><%= balance.detail %></li>
        </div>
        <% if balance.balance == "収入" %>
        <div class="lists-money">
          <li><%= balance.money_amount %></li>
        </div>
        <% else %>
          <div class="lists-money">
          <li><%= -(balance.money_amount) %></li>
        </div>
        <% end %>
          <li id="delete-button" data-id=<%= balance.id %>><%= link_to "削除", balance_path(balance.id), class: "delete", method: :delete %></li>
      </ul>
      <% end %>
    <div class="day-amount">
      <div class="income">
      <p>収入計<span><%= @balances_income %></span>円</p>
      </div>
      <div class="spending">
      <p>支出計<span><%= @balances_spending %></span>円</p>
      </div>
      <div class="amount">
      <p>合計<span id="sum-money" data-amount=<%= @balances_income - @balances_spending %>><%= @balances_income - @balances_spending %></span>円</p>
      </div>
    </div>
    </div>
  <div class="form">
    <%= form_with model: @balance, method: :post, id: "form" do |f| %>
      <%= f.hidden_field :start_time, value: @id %>
      <%= f.hidden_field :year_month, value: @this_month %>
      <p>収支<span>(※必須)</span>
      <%= f.radio_button :balance, :収入, id: "income" %>
      <%= f.label :収入 %>
      <%= f.radio_button :balance, :支出, id: "spending" %>
      <%= f.label :支出 %>
      
        <p>費目<span>(※必須)</span>     
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {id:"category_id"}) %>
        </p>
        
        <p>詳細<span>(※20字)</span>
          <%= f.text_field :detail, id: "detail" %>
      </p>
        <p>金額<span>(※必須)</span>
          <%= f.text_field :money_amount, id: "money_amount" %>
        </p>
          <%= f.submit "追加", id: "submit" %>
    
    <% end %>
  </div>
  <%= link_to "マイページに戻る", mypage_path(current_user.id) %>

</div>

    